



/*MANTENGA COMENTADA ESTA PARTE HASTA EL FINAL*/
section#left {
	float:left;
	width:70%;
	
}
aside#right {
	float:right;
	width:25%;
}

footer#footer {
	clear:both;
}

*{
	font-family: Verdana;
}

h1{color: blue;
	text-align:center; 
}

header#cabecera img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.elemento-menu{
	display: inline;
	list-style-type: none;
}
#menu{
	text-align: center;
}
body>footer#footer{
	font-style: italic;
	text-align: center;
}
aside>h3+h4{
	font-style: italic;
	color: green;
}
aside h5[title$="small"]{
	text-decoration-line: underline;
}
aside li[name="fork"]{
	list-style-image: url(https://goo.gl/y0yaro);
}
nav > ul > li>:hover{
	color: green;
}

p[class="descripcion"]::first-letter{
	font-size: 22pt;
	font-weight: bold;
}
article img{
	display: block;
	width: 15%;
    margin-left: auto;
    margin-right: auto;
}


